html, body {
  margin: 0px;
  height: 100%;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: #1d1d1d;
}

#reg {
  background-color: #1d1d1d;
  margin: 0;
  padding-bottom: 3rem;
  font-family: 'Courier New', Courier, monospace;
}

label {
  color: white;
}

input[type=text] {
  width: 100%;
  padding: 12px 14px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #929292;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#colour {
  width: 100%;
  margin: 8px 0;
  height: 50px;
  border-radius: 4px;
}

#changeColour {
  height: 2.5rem;
  vertical-align: middle;
  border: #555555;
}

input[type=submit] {
  font-family: 'Courier New', Courier, monospace;
  width: 100%;
  background-color: black;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.reg-container {
  width: 450px;
  padding: 8px;
  background-color: #555555;
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.chat {
  margin: 10px;
  min-height: 720px;
}

.chatbox {
  width: 80%;
  margin-right: 7px;
  min-height: 720px;
  height: 720px;
  float: left;
  background-color: #333333;
  position: relative;
  border-radius: 4px;
}

.chatbox > div {
  border-radius: 4px;
  max-height: 100%;
  width: 100%;
  position: absolute;
  bottom: 0px;
  overflow-y: auto;
  background-color: #333333;
}

.userList {
  color: white;
  overflow: hidden;
  text-align: center;
  background-color: #b19a9a;
  min-height: 720px;
  border-radius: 4px;
  height: auto;
}

#form {
  width: 100%;
  background: #b19a9a;
  padding: 0.25rem;
  position: fixed;
  bottom: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 3rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}

#form > button {
  background: #333;
  border: none;
  padding: 0 1rem;
  margin: 0.25rem;
  border-radius: 3px;
  outline: none;
  color: #fff;
}

h1 {
  padding: 20px;
  margin: 0;
}

.divider {
  border-top: 6px solid white;
  border-radius: 5px;
  width: 20%;
}

#input {
  border: none;
  padding: 0 1rem;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  border-radius: 2rem;
  margin: 0.25rem;
}

#input :focus {
  outline: none;
}

#online {
  list-style-type: none;
  color: white;
  margin: 0;
  padding: 0;
}

#online > li {
  text-align: left;
  font-size: 17px;
  padding: 0.5rem 1rem;
}

#messages {
  list-style-type: none;
  width: 80%;
  margin: 0;
  padding: 0;
  bottom: 0px;
}

#messages > li {
  padding: 0.5rem 1rem;
  margin: 5px;
  background-color: black;
  color: white;
  border-radius: 4px;
}

#messages > span {
  margin-left: 5px;
  color: #afafaf;
  vertical-align: top;
  font-size: 13px;
}

@media screen and (max-width: 768px) {
  h1 {
    padding: 10px;
    margin: 0;
    font-size: 20px;
  }
  .chatbox {
    width: 75%;
  }
}
/*# sourceMappingURL=styles.css.map */